//hsla(346, 100%, 71%, 1);
//hsla(346, 100%, 91%, 1);

$pink: hsla(346, 100%, 61%, 1);
$pinkD1: darken($pink, 10%);
$pinkD2: darken($pink, 20%);
$pinkL1: lighten($pink, 10%);
$pinkL2: lighten($pink, 20%);

$blue: hsla(206, 100%, 39%, 1);
$blueD1: darken($blue, 10%);
$blueD2: darken($blue, 20%);
$blueL1: lighten($blue, 10%);
$blueL2: lighten($blue, 20%);

$motion: ease-in-out;
