@import './base.css';

#app {
    font-family: "Audiowide";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

  display:flex;
  flex-direction:column;
  align-items: center;;
  background:linear-gradient(to bottom, black, var(--electric-blue-dark) 22rem, var(--neon-pink-dark) 28rem);
  height:100vh;
  width:100vw;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  /* body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}
